<h1>留言板</h1> 
<h1></h1>
<!-- <img src="images/banner141229.jpg" alt=""> -->
<center>
<form action="/post" method='post'>
  <span>留言</span>
  <input type="text" name="password">
  <input type="submit" vlaue="送出">

<!--   <h1>取得資料</h1>
  <input type="button" id="getData" value="留言板">
  <ul id="list"></ul>  -->
</form>
<!-- <h2><%- JSON.stringify(listdata[3]) %><h2> -->
<!-- <h1>JSON.stringify(listdata.length)</h1> -->
<% for(var i=0; i< listdata.length; i++) {%> 
  <li><%- JSON.stringify(listdata[i].message) %></li>
<% } %>

<!--<h1>jQuery ajax送出</h1>
<input type="text" id="password">
<input type="button" id="send" value="送出">
-->



<script>

  // jQuery(document).ready(function($) {
  //   $('#send').on('click', function(event) {
  //     event.preventDefault();
  //     var str = $('#password').val();
  //     console.log(str);
  //     });
  //     });
  //   }
  // }
  //    $.post('/postAjax', {'password': str}).success(function(data){
  //       console.log(data);
  //       if(data=='success'){
  //       alert('密碼輸入成功')
  //       }else{
  //         alert('密碼輸入錯誤')
  //       }
  //     });
  //   };
// var data = <%- JSON.stringify(listdata) %>;
// console.log(data);

    // $('#getData').on('click', function(event) {
    //   event.preventDefault();
    //   $.get('/index').success(function(data){
    //     // console.log(data)
    //     $('#list').children().remove()
        
    //     //console.log(data);
    //     // for(i=0;data.length>i;i++){
    //     //   var mess[]=data;
    //     //   console.log(mess[i]+"<br>");
    //     //   // $('#list').append('<li>主旨：'+data[i].title+' 訊息：'+data[i].message);
    //     // }
    //   });
    // });
    
</script>
</center>